
.CafesPage {
    height: 100vw;
    width: 100vw;
    display: flex;
    color: rgb(139, 238, 238);
}

.CafesPage__Aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
    width: 85%;
    background-color: rgb(120, 120, 120);
    overflow: none;
    animation: mainSlideOut 0.5s;
  }

  .CafesPage__Aside__Max {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
      width: 100%;
      background-color: rgb(100, 100, 100);
      overflow: hidden;
    }

  #CafesProgress{
    text-align:center;
    width:100%;
    
  }
  
  .CafesPage__Form {
    text-align:center;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    width: 15%;

    background-color: rgb(40, 190, 154);
    padding-top:1.6vw;
    overflow: hidden;
 
    animation: barSlideIn 0.5s;
  }

  .CafesPage__Form:before{
    object-fit:cover;
    text-align:center;
    overflow:hidden;

    content: '';
    /*display: block;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("RainGif.gif");
    background-size:cover;
    opacity: 0.78;
    z-index:-1;
  }

  .btn-group button {

    background-color: rgb(106, 100, 245);
    border: 1px solid rgb(94, 255, 215);
    color: white; /* White text */
   /* padding: 10px 24px;  Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 10.5vw;
    height:80px;
    /*height:8.5vw*/
    display: inline-flex; /* Make the buttons appear below each other */
    animation: button-fadeIn 0.5s linear;
  }

  .btn-group p{
    color:white;
    width:7.5vw;
    height:1vw;
    margin:0.3vw;
    padding:0;
  }


  .DDButton{
    width:80%;
    height:120px;
    opacity:0.9;
  }

  .DDButtonImg{
    width:6vw;
    height:6vw;
  }

  .btn-group button img {
    width: 4vw;
    height: 4vw;
    margin-right: auto;
    margin-left: auto;
  }

  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: rgb(94, 255, 215);
  }

  .DropDown {
    /*margin-left: 30%;*/
    text-align:center;
    display: block;
    object-fit: cover;
    flex-direction:column;
  }

 

  .ButtonIcon{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
  }

  .openMenu{

    float:right;
    width:40px;
    height:80px;
    border-radius:100px;
  }

  .closeMenu{

    float:right;
    width:60px;
    height:80px;
    border-radius:100px;
    background-color: rgb(220,210,240)
  }

  @keyframes barSlideIn {
    from{width:0%}
    to{width:15%}
  }

  @keyframes mainSlideOut{
    from{width:100%}
    to{width:85%}
  }
  