@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px !important;
}

.App__Aside img{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    height: 450px;
    width: 300px;
    object-fit: cover;
    justify-content: center;
    animation: DietDietLogo-spin infinite 5s linear;
    animation-direction:alternate; 
}

@keyframes DietDietLogo-spin {
  from {
    /*transform: rotate(0deg);*/
    -webkit-transform:scale(1);
  }
  to {
    /*transform: rotate(360deg);*/
    -webkit-transform:scale(1.2);
  }
  
}


/*
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/
