
.UploadPage {
    height: 100vw;
    width: 100vw;
    display: flex;
    color: rgb(139, 238, 238);
}

.UploadPage__Aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
    width: 85%;
    background-color: rgb(105, 105, 105);
    overflow: none;
  }
  
  .UploadPage__Form {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    width: 15%;

    background-color: rgb(8, 73, 158);
    padding: 25px 40px;
    overflow: none;
  }

  .UploadPage__Form:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("BubbleGif.gif");
    background-size:cover;
    opacity: 0.4;
    z-index:-1;
  }

  .FormField__CheckboxLabel{
    color:white;
  }

  #submitDiv{
    text-align:center;
  }

  #submitButton{
    width:20%;
    border-radius:20px;
    height:50px;
    background-color: rgb(100, 220, 250);
    border-color: rgb(100, 220, 250);
    color:white;
    margin-top:-20px;
  }

  ImageUploader{
    margin: 20px;
  }
